html {
  box-sizing: border-box;
  background-color: #000;
  font-family: 'Playball', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {

  color: white;
  text-align: center;
}

.tena {
  font-family: 'Francois One', sans-serif;
}

.length {
  max-width: 8em;
}

.box {
  border: 2px solid white;
}

.word {
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
}

.hide {
  display: none;
}

.fullhide {
  display: none;
}

.smile {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left top 0;
  left: 2.8em;
  top: .7em;
  color: yellow;
  font-family: 'Open Sans', sans-serif;

}

@media only screen and (min-width: 25em) {

  .fullhide {
    display: inline;
  }

  .hide {
    display: none;
  }

  .smile {
    display: none;
  }

  p {
    margin: 0;
  }

}

@media only screen and (min-width: 38em) {

  p {
    color: yellow;
  }

  .box {
    border: 2px solid yellow;
  }

  .word {
    color: white;
  }

  .smile {
    display: none;
  }

  .length {
    max-width: 20em;
  }

}

@media only screen and (min-width: 60em) {

  p {
    color: white;
  }

  .box {
    border: 2px solid white;
  }

  .hide {
    display: inline;
  }

  .word {
    text-transform: lowercase;
    font-family: 'Playball', cursive;

  }

  .smile {
    display: none;
  }

}

*@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:0;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
